@using Classroom.UI.Common.Components

@inherits CourseLogic
@page "/courses/{id:guid}"

@if (Course is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>
        Course "@Course.Name"
    </h2>

    <EditForm Model="@Course" OnValidSubmit="@(async () => await EditCourse())">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="list-group list-group-flush">

            <div class="card list-group">
                <div class="card-body">
                    <h5 class="card-title">Name</h5>
                    <div onclick="@((e) => SetEnabled(e, Property.Name))"
                         onfocusout="@((e) => SetDisabled(e, Property.Name))">
                        <input id="name"
                               class="card-text form-control"
                               disabled="@IsNameDisabled"
                               value="@Course.Name"
                               onchange="@((e) => {Course.Name = e.Value.ToString();  SetEditButtonVisible(); })" />
                    </div>
                </div>
            </div>


            <div class="card list-group">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <div onclick="@((e) => SetEnabled(e, Property.Description))"
                         onfocusout="@((e) => SetDisabled(e, Property.Description))">
                        <textarea id="description"
                                  class="card-text form-control"
                                  disabled="@IsDescriptionDisabled"
                                  rows="@DescriptionLinesNumber"
                                  value="@Course.Description"
                                  onchange="@((e) => {Course.Description = e.Value.ToString();  SetEditButtonVisible(); })" />
                    </div>
                </div>
            </div>

            <input class="list-group-item" disabled value="@Course.Created.ToShortDateString()" />
        </div>

        @if (ShowEditButton)
        {
            <button class="btn btn-info" type="submit">Edit class</button>
        }
    </EditForm>
    <button class="btn pagebutton btn-danger" onclick=@(async () => await DeleteCourse())>Delete Class</button>

    @if (Course.Classes != null && Course.Classes.Count() != 0)
    {
        <br />
        <br />
        <h4>Linked classes</h4>
        <TableGrid Items="@Course.Classes" PageSize="5">
            <GridHeader>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
            </GridHeader>
            <GridRow>
                <td class="text-truncate">@context.Name</td>
                <td class="text-truncate">@context.Description</td>
                <td class="text-truncate">@context.Created.ToShortDateString()</td>
            </GridRow>
        </TableGrid>
    }
}
