@using Front.Common

@inherits CoursesLogic
@page "/courses"

<h1>Courses</h1>

@if (Courses is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <NavLink class="btn pagebutton btn-info" href="@RouteConstants.CreateCourse">Create course</NavLink>
    <br />
    <TableGrid Items="@Courses" PageSize="5">
        <GridHeader>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
        </GridHeader>
        <GridRow>
            <td class="text-truncate">@context.Name</td>
            <td class="text-truncate">@context.Description</td>
            <td class="text-truncate">@context.Created.ToShortDateString()</td>
        </GridRow>
    </TableGrid>
}