@using Front.Common
@using Front.Shared

@inherits ClassesLogic
@page "/classes"

<h1>Classes</h1>

@if (Classes is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <NavLink class="btn btn-info" href="@RouteConstants.CreateClass">Create class</NavLink>
    <br />
    <TableGrid Items="@Classes" PageSize="5">
        <GridHeader>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
        </GridHeader>
        <GridRow>
            <td class="text-truncate">@context.Name</td>
            <td class="text-truncate">@context.Description</td>
            <td class="text-truncate">@context.Created.ToShortDateString()</td>
        </GridRow>
    </TableGrid>
}