@using Classroom.UI.Common.Components
@inherits ClassesLogic
@page "/"
@page "/classes"

<h1>Classes</h1>

@if (Classes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableGrid Items="@Classes" PageSize="5">
        <GridHeader>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Created</th>
        </GridHeader>
        <GridRow>
            <td>@context.Id.ToString("N")</td>
            <td>@context.Name</td>
            <td>@context.Description</td>
            <td>@context.Created.ToShortDateString()</td>
        </GridRow>
    </TableGrid>
}

